{% extends 'base.html.twig' %}

{% block title %}Hello NavbarController!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">{% trans %}My recipe website{% endtrans %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <form action="">
                        <input type="search" id="search-input" class="form-control" placeholder="{% trans %}Search a recipe{% endtrans %}">
                    </form>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">{% trans %}Home {% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans %}Recipes{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans %}Admin{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
